@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


.logo-animation-frame {
    display: grid;
    max-width: max-content;
    /*padding: 1em;*/
    background-color: none;
    border-radius: 10px;
    /*margin: 2em auto;*/
    grid-row: 1;
    grid-column: 1;
    animation: rotating 60s linear infinite;
}

.logo-animation-frame img {
    width: 96px;
    height: 96px;
    grid-row: 1;
    grid-column: 1;
}