:root {
    --nav-height: 60px;
    --nav-bg-color: #28395C;
    --hero-bg-color: #28395C;
    --article-bg-color: #E0E7EB;
    --footer-height: 200px;
    --footer-bg-color: #202C37;

    --heading-font: "Raleway", sans-serif;
    --body-font: "Merriweather Sans", sans-serif;
    --accent-font: "Abril Fatface", serif;

    --body-text-color: #333333;
    --heading-text-color: #28395C;
    --accent-text-color: #FFFFFF;

    --article-top-margin: 4em;

    --footer-icon-size: 48px;
}

*, *::before, *::after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: var(--body-font);
    color: var(--body-text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--heading-text-color)
}

h3 > a {
    text-decoration: none;
    color: var(--heading-text-color);
}

h3 > a:visited {
    color: var(--heading-text-color);
}

h3 > a:active {
    color: var(--heading-text-color);
}

details > summary {
    list-style-type: '▶️';
}

details[open] > summary {
    list-style-type: '🔽';
}


summary {
    font-size: 2em;
}

.summary-text {
    font-size: 16px;
    font-style: italic;
    font-weight:300; 
}

nav {
    background-color: var(--nav-bg-color);
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}

footer {
    background-color: var(--footer-bg-color);
    min-height: var(--footer-height);
}

.align-end {
    align-self: flex-end;
}

.fixed {
    position: fixed;
}

.navmenu {
    min-height: var(--nav-height);
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.nav-logo-link {
    color: var(--accent-text-color);
    text-decoration: none;
    font-family: var(--accent-font);
}

.nav-image {
    height: 55px;
    width: 55px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 0.5em;
}

.nav-link {
    color: var(--article-bg-color);
    text-decoration: none;
    font-family: var(--accent-font);
}

.nav-link:hover {
    color: var(--accent-text-color);
    text-decoration: underline;
    font-weight: 600;
}

.nav-link:active {
    color: var(--article-bg-color);
    text-decoration: none;
}

.hero {
    min-height: 70vh;
    margin-top: var(--nav-height);
    background-color: var(--hero-bg-color);
}

.headshot {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: url("https://pnwarner.github.io/media/headshot.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid var(--accent-text-color);
}

.heading-text-color {
    color: var(--heading-text-color);
}

.body-text-color {
    color: var(--body-text-color);
}

.accent-text-color {
    color: var(--accent-text-color);
}

.footer-color {
    color: var(--footer-bg-color);
}

.article-bg-color {
    color: var(--article-bg-color);
}

.bold-text {
    font-weight: bold;
}

.article-paragraph {
    text-indent: 2em;
}

.indent-paragraph {
    text-indent: 2em;
}

.article-paragraph:first-letter {
    font-size: 32px;
    font-weight: bold;
    color: var(--heading-text-color);
    initial-letter: 2 2;
}

.text-underline {
    text-decoration: underline;
}

.flexbox {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.item-center {
    align-items: center;
}

.content-center {
    justify-content: center;
}

.full-width {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.nav-left {
    margin-left: 1em;
}

.nav-right {
    margin-right: 1em;
}

.article-padding {
    padding: 0 0.5em 0 0.5em;
}

.paragraph-margin {
    margin: 1em 0.5em 0 0.5em;
}

.article-top-margin {
    margin-top: var(--article-top-margin);
}

.article-top-margin:last-of-type {
    margin-bottom: var(--article-top-margin);
}

.project-container {
    margin: 2em 1em 2em 1em;
    background-color: var(--accent-text-color);
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
    flex-direction: row;
}

.project-logo-container {
    align-self: center;
    margin: 1em 0 1em 1em;
    flex-direction: column;
    width: 30%;
    min-width: 200px;
}

.project-image-container {
    padding: 0.5em;
    background-color: var(--footer-bg-color);
    border-radius: 5px;
    width: 200px;
    align-self: center;
}

.project-name-container {
    align-self: flex-start;
    width: 100%;
    flex-direction: column;
}

.project-name {
    margin: 1em 0 0 0;
}

.project-name-container > hr {
    width: 94%;
    align-self: center;
    margin-bottom: 0.25em;
}

.project-tags-container {
    align-self: center;
    flex-wrap: wrap;
}

.project-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25em;
    border-radius: 10px;
    background-color: var(--hero-bg-color);
    color: var(--accent-text-color);
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    min-width: 60px;
}

.project-info-container {
    margin: 1em;
    padding: 0.5em;
    background-color: #f5f7ff;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 70%;
}

.project-info-list {
    margin-left: 2em;
}

.project-info-list-item {
    margin-top: 0.5em;
}

.project-details {
    margin: 1em;
}

.footer-title {
    font-size: 32px;
    font-weight: bold;
}

.git-username {
    color: white;
}

.git-domain {
    color: var(--article-bg-color);
}

.footer-container {
    min-height: var(--footer-height);
}

.footer-content {
    flex-direction: row;
    color: white;
    justify-content: space-between;
}

.footer-content-item {
    align-items: center;
}

.footer-content-left {
    margin-left: 1em;
}

.footer-content-right {
    margin-right: 1em;
}

.footer-logo-link {
    text-decoration: none;
    font-family: var(--accent-font);
}

.footer-contact-text {
    font-size: 18px;
    font-weight:600;
    font-family: var(--accent-font);
}

.footer-icon {
    margin: 0.5em;
    height: var(--footer-icon-size);
    width: var(--footer-icon-size);
}

.footer-site-address {
    align-content: flex-end;
    text-align: center;
    margin-bottom: 1em;
}


  /* Mobile Styles */
  /* For screens no wider than 767px */
@media only screen and (max-width: 767px) {
    /* Your mobile styles here */
    body {
        background-color: var(--article-bg-color);
    }

    .project-container {
        flex-direction: column;
    }

    .project-logo-container {
        flex-direction: row;
        margin: 1em;
        justify-content: space-evenly;
        width: 100%;
    }

    .project-image-container {
        margin: 1em;
    }

    .project-name-container {
        align-self: center;
        width: max-content;
    }

    .project-info-container {
        align-self: flex-start;
        width: initial;
    }

    .footer-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-content-left {
        margin-left: 0;
    }

    .footer-content-right {
        margin-right: 0;
    }
}
  
  /* Tablet Styles */
  /* For screens between 768px and 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet styles here */
    body {
        background-color: var(--article-bg-color);
    }
}
  
  /* Desktop Styles */
  /* For screens wider than 1024px */
@media only screen and (min-width: 1024px) {
    /* Your desktop styles here */
    body {
        background-color: var(--article-bg-color);
    }
}
